<% include ../partials/header.ejs %>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/liquors">Liquors</a>
  <a href="/categories">Categories</a>
</div>
<h3>Add the new liquor!</h3>
<div class="page-container">
  <form class="newform" method="POST" action="/liquors">
    <label>Img URL: </label>
    <input id='image' name="img" placeholder="  Image Url">
    <br>
    <label>Name: </label>
    <input id='name' name='name' placeholder="  Name of the liquor">
    <br>
    <label>Proof: </label>
    <input id='proof' name='proof' placeholder="  Proof % of the liquor">
    <br>
    <label>Size: </label>
    <input id='size' name="size" placeholder="  Size of the liquor">
    <br>
    <label>Leftover: </label>
    <input id='leftover' name="leftover" placeholder="  How much of the liquor is left">
    <br>
    <label>Location: </label>
    <input id='location' name="location" placeholder="  Liquor location?">
    <br>
    <label>Category ID: </label>
    <input id='category_id' name="category_id" placeholder="  Which category ID is it belong to?">
    <br>
    <button type="submit">SUBMIT</button>
  </form>
</div>
<% include ../partials/footer.ejs %>

