<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="homepage">
    <div class="page-container">

      <p>Welcome to Liquor Recording APP, a place to keep on track with liquors at home !!!</p>
      <h1>liquors</h1>
      <p><a href="/liquors">All Liquors</a></p>

      <h1>Categories</h1>
      <p><a href="/categories">All Categories</a></p>
      <ul>
        <% categories.forEach(category => { %>
          <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
