<% include ../partials/header.ejs %>
<div class="page-container">

  <p>Welcome to Liquor Recording APP, keep on track with liquors at home !!!</p>
  <h1>liquors</h1>
  <p>
    <a href="/liquors">All Liquors</a>
  </p>

  <h1>Categories</h1>
  <p>
    <a href="/categories">All Categories</a>
  </p>
</div>
<% include ../partials/footer.ejs %>
