<% include ../partials/header.ejs %>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/liquors">Liquors</a>
  <a href="/categories">Categories</a>
</div>


<div class= ></div>
  <h1>Liquor Inventory APP</h1>

  <div id= "about">
    <h3><b>Throw out your paper and do your inventory in minutes, not hours, with this app. It usually takes forever to measure spirits at the end of the night, but this app saves you so much time. You
    can quickly cycle through the products and write down to keep a record.</b></h3>
    <br>
    <h2><b>It couldn’t be more straightforward and speedy!</h2></b>
  </div>


  <% include ../partials/footer.ejs %>

